<div fxLayout = "column">
    <div *ngFor="let stud of student">
        <div fxFlex = "row" fxLayoutGap="20px">
            <div fxFlex="20" style="border-right: 1px solid red;padding: 15px;">{{stud.sid}}</div>
            <div fxFlex="20" style="border-right: 1px solid red;padding: 15px;">{{stud.sname}}</div>
            <div fxFlex="20" style="border-right: 1px solid red;padding: 15px;">{{stud.MObile_number}}</div>
            <div fxFlex="20" style="border-right: 1px solid red;padding: 15px;">{{stud.Saddress}}</div>
            <div fxFlex="20" style="border-right: 1px solid red;padding: 15px;">{{stud.CollegeName}}</div>
        </div>
</div>